@media screen 
{
    
*{
    box-sizing: border-box;
}
body {
    background-image: url("All Prject Images/bg8.jpg");
} 

/*********** Header CSS **********/

#projectLogoleft {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    padding: 5px;
    float: left;
    margin-top: -1%;
    transition: transform .9s;
}
#websitename {
    font-family: 'Lobster', cursive;
    padding-left: 20px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding-left: 100px;
    text-align: center;
    transition: transform .5s;
    
}
#Icons {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: transform .5s;
}
.SocialIcons {
    border:1px solid chocolate;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    float:right;
    margin-top: -1%;
    

}
.group1 {
    padding: 10px;
    padding-bottom: 5px;
}
.group2 {
    padding-left: 10px;
}
#projectLogoleft:hover{
    transform: rotate(360deg);
    
}
#websitename:hover{
    transform: scale(2);
    
}
#Icons:hover{
    transform: scale(2);
    
}


/*********** NAV BAR CSS **********/
.navbar {
    padding-top: 1px;
}
ul {
    list-style: none;
    border: 2px solid white;
    background-image: linear-gradient(orange,yellow);
    display: flex; 
    padding:5px; 
}
li {
    width: 60%;
    text-align: center;  
}
a {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a p {display:none;}
.navbar a:hover p {display:block;}
body{
    border: 2px solid black;
    background-image: -webkit-linear-gradient();
    
}
.gallery{
    padding-left: 40px;
    padding-right: 40px;
}

figure{
    display: inline-block;
    padding: 3px;
    margin: 5px;
    border-radius: 15px;
}
figcaption{
    background-color: rgb(168, 165, 159);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 3px;
    margin: 5px;
    display: flex;
}
footer {
    border: 2px solid black;
    height: 60px;
    
}
.Foot2{
    float: right;
    color: rgb(14, 15, 15);
    text-align: left;
    margin-top: -1%;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.Foot1{
    float: left;
    margin-top: -1%;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Foot3{
    text-align: center;
    padding: 4px;
    padding-top: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Foot2 img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  span{
    color: gold;
}
#nav{
    color: indigo;
}
.hide {
    display: none;
  }
      
.ourRating:hover + .hide {
    display: block;
  }

.ourRating:hover{
    display: none;
  }


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
img{
    width: 340px;
    height: 250px;
}
